[Unit]
Description=Prometheus NTP Exporter
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/home/prometheus/bin/ntp-prometheus --config /home/prometheus/ntp-prometheus.yaml
Restart=always
RemainAfterExit=no

